In [1]:
import pandas as pd
import tumorsphere as ts

In [7]:
# Load the DataFrames from the CSV files
df_from_dbs = pd.read_csv("./merged_df_and_db/df_from_dbs.csv")
df_from_dats = pd.read_csv("./merged_df_and_db/df_from_dats.csv")

# Drop the 'culture_id' column from df_from_dbs if it exists
df_from_dbs_to_compare = df_from_dbs.drop(
    columns=["culture_id"], errors="ignore"
)

# Sort the DataFrames by all columns to ensure order does not affect comparison
df_from_dbs_sorted = df_from_dbs_to_compare.sort_values(
    by=df_from_dbs_to_compare.columns.tolist()
).reset_index(drop=True)
df_from_dats_sorted = df_from_dats.sort_values(
    by=df_from_dats.columns.tolist()
).reset_index(drop=True)

# Compare the sorted DataFrames to check if they are the same
comparison = df_from_dbs_sorted.equals(df_from_dats_sorted)

# Print the result of the comparison
print(f"The DataFrames are {'identical' if comparison else 'different'}.")

# Optional: Show the differences if they are not identical
if not comparison:
    # Find rows that are different using a more detailed comparison
    comparison_results = df_from_dbs_sorted.compare(df_from_dats_sorted)
    print("Detailed differences between DataFrames:")
    print(comparison_results)

# In case they're different, use this to explore
# diff_df.loc[(diff_df['pd']==0.0)&(diff_df['ps']==0.7)&(diff_df['rng_seed']==722217751506193)&(diff_df['time']==8)]

The DataFrames are identical.

In [9]:
df_from_dbs

,culture_id,pd,ps,rng_seed,time,total_cells,active_cells,stem_cells,active_stem_cells
0,1,0.0,0.7,722217751506193,0,1,1,1,1
1,1,0.0,0.7,722217751506193,1,2,2,2,2
2,1,0.0,0.7,722217751506193,2,4,4,4,4
3,1,0.0,0.7,722217751506193,3,8,8,6,6
4,1,0.0,0.7,722217751506193,4,16,16,9,9
...,...,...,...,...,...,...,...,...,...
99,8,0.0,0.6,781299191188075,8,192,162,16,10
100,8,0.0,0.6,781299191188075,9,312,240,19,11
101,8,0.0,0.6,781299191188075,10,472,320,22,9
102,8,0.0,0.6,781299191188075,11,687,430,28,13
103,8,0.0,0.6,781299191188075,12,964,554,33,14